/* =====================
   desktop
   min-width: 768px;
   max-width: 1024px;

===================== */

@media (min-width: 768px) and (max-width: 1024px) {

}

/* =====================

   Tablets
   min-width: 640px;
   max-width: 767px;

===================== */

@media (min-width: 640px) and (max-width: 767px) {

}

/* =====================

   Small Devices
   min-width: 320px;
   max-width: 479px;

===================== */


@media (min-width: 320px) and (max-width: 479px) {
  #banner {
    text-align: center;
  }
  #banner .block .buttons a:first-child {
    margin-left: 7px;
    margin-bottom: 10px;
  }
}
